In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\aaris\\Desktop\\forinternship\\HSMT-Internship\\health_a_i.csv')

In [3]:
df

      Unnamed: 0                                Data to be filtered
0              0  [<p><b>Brand Name</b>: <span>A AND A Diaper Ra...
1              1  [<p><b>Brand Name</b>: <span>A and D</span> </...
2              2  [<p><b>Brand Name</b>: <span>A and D Diaper Ra...
3              3  [<p><b>Brand Name</b>: <span>A and D plus E</s...
4              4  [<p><b>Brand Name</b>: <span>A Bit Hippy</span...
...          ...                                                ...
1051        1051  [<p><b>Brand Name</b>: <span>AZSTARYS</span>\n...
1052        1052  [<p><b>Brand Name</b>: <span>Aztreonam</span> ...
1053        1053  [<p><b>Brand Name</b>: <span>Azulfidine</span>...
1054        1054  [<p><b>Brand Name</b>: <span>Azulfidine EN-tab...
1055        1055  [<p><b>Brand Name</b>: <span>Azurette</span> <...

[1056 rows x 2 columns]

In [ ]:
for i in range(len(df)):
    print(df.iloc[i])

In [38]:
x = df.iloc[0].values

In [39]:
x

array([0,
       '[<p><b>Brand Name</b>: <span>A AND A Diaper Rash cream</span> </p>, <p><b>Generic Name</b>: <span>DIMETHICONE AND ZINC OXIDE</span></p>, <p><b>Drug Type</b>: HUMAN OTC DRUG</p>, <p><b>Route</b>: <span>TOPICAL</span></p>, <p><b>Dosage Form</b>: CREAM</p>, <p><b>Data Current As Of</b>: 2018-10-06</p>]'],
      dtype=object)

In [13]:
x

In [40]:
x = str(x)

In [41]:
x = x.replace('[', '')
x = x.replace(']', '')

In [ ]:

';\]0\][P'

In [37]:
x

["0\n '",
 "<span>A AND A Diaper Rash cream</span> </p>, <p><b>Generic Name</b>: <span>DIMETHICONE AND ZINC OXIDE</span></p>, <p><b>Drug Type</b>: HUMAN OTC DRUG</p>, <p><b>Route</b>: <span>TOPICAL</span></p>, <p><b>Dosage Form</b>: CREAM</p>, <p><b>Data Current As Of</b>: 2018-10-06</p>'"]

In [42]:
x = x.split('</p>')

In [43]:
x

["0\n '<p><b>Brand Name</b>: <span>A AND A Diaper Rash cream</span> ",
 ', <p><b>Generic Name</b>: <span>DIMETHICONE AND ZINC OXIDE</span>',
 ', <p><b>Drug Type</b>: HUMAN OTC DRUG',
 ', <p><b>Route</b>: <span>TOPICAL</span>',
 ', <p><b>Dosage Form</b>: CREAM',
 ', <p><b>Data Current As Of</b>: 2018-10-06',
 "'"]

In [44]:
len(x)

7